 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
 }
 body{
    background: #000000;
    color: #fff;

 }
 /* head Section start */

 #header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png.png);
    background-size: cover;
    background-position: center;
 }

 .container{
    padding: 10px 10%;
 }
 nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap; 
 }

 .logo{
    width: 140px;
 }
 
 nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
 }
 nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
 }
 nav ul li a::after{
    content: '';
    width: 0px;
    height: 3px;
    background: #00eeff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.7s;
 }
 nav ul li a:hover::after{
    width: 100%;
 }
 .header-text{
    margin-top: 20%;
    font-size: 30px;
 }
 .header-text h1{
    font-size: 60px;
    margin-top: 20px;
 }
 .header-text h1 span{
    color: #00eeff;
 }

 /* head Section start end */

 /* about Section start*/
 #about{
   padding: 80px 0;
   color: #fff;
 }

 .row{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 .about-col-1{
   flex-basis: 35%;
 }
 .about-col-1 img{
   width: 100%;
   border-radius: 15px;
 }
 .about-col-2{
   flex-basis: 60%;
 }

 .tittle-text{
   font-size: 60px;
   font-weight: 600;
   color: #fff;

 }

 .tab-titels{
   display: flex;
   margin: 20px 0 40px;
 }

 .tab-links{
   margin-right: 50px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   position: relative;
 }

 .tab-links::after{
   content: '';
   width: 0;
   height: 3px;
   background: #00eeff;
   position: absolute;
   left: 0;
   bottom: -8px;
   transition: 0.7s;
 }
 .tab-links.active-link::after{
   width: 50%;
 }

 .tab-contents ul li {
       list-style: none;
       margin: 10px 0;
 }
 .tab-contents ul li span{
   color: #00eeff;
   font-size: 14px;  
 }
 .tab-contents{
   display: none;
 }

 .tab-contents.active-tab{
   display: block;
 }

 /* abut section end  */

 /* services section start  */
 #services{
  padding: 30px 0;
 }

 .services-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
 }

 .services-list div{
  background: #4d4d4d;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 15px;
  transition: background 0.7s, transfrom 0.7s;
 }
 .services-list div i{
  font-size: 50px;
  margin-bottom: 30px;
 }
 .services-list div h2{
  font-size: 30px;
   font-weight: 500;
   margin-bottom: 15px;
 }
 .services-list div a{
   text-decoration: none;
   color: #fff;
   font-size: 12px;
   margin-top: 20px;
   display: inline-block;
 }

 .services-list div:hover{
  background: #00eeff;
  transform: translateY(-15px)
 }
 /* sevices section end  */
 /* portfolio section start  */
  #portfolio{
    padding: 50px 0;
  }
  .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
  }
  .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  }
  .work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transfrom 0.5s;
  }
  .working{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #00eeff);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: hight 0.5s;
  }
  .working h3{
    font-weight: 50px;
    margin-bottom: 20px;
  }
  .working a{
    margin-bottom: 20px;
    color: #00eeff;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
  }
  .work:hover{
    transform: scale(1.1);
  }
  .work:hover .working{
    height: 100%;
  }
  .btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00eeff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
  }
  .btn:hover{
    background: #00eeff;
  }
  /* portfolio section end  */
  /* contact section start  */
  .contact-left{
    flex-basis: 35%;
  }
  .contact-right{
    flex-basis: 65%;
  }
  .contact-left p{
    margin-top: 30px;
  }