 *{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
 }
 body{
    background: #080808;
    color: #fff;

 }

 #header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png.png);
    background-size: cover;
    background-position: center;
 }

 .container{
    padding: 10px 10px;
 }
 nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap; 
 }

 .logo{
    width: 140px;
 }